body{
    background: rgb(206, 17, 64);
  }
  
  .heading{
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .main_header{
    text-align: center;
  }
  #portal{
    font-size:300%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
  
  #log_button {
    width: 85px;
    background-color: #ffffff;
  }
  
  .BUTTON{
    font-size: 15px;
    color: black;
    padding: 15px;

    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  


  #book-form {
    display: grid;
    padding: 1em;
    background: #f9f9f9;
    border: none;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;
    box-shadow: -1px 1px 35px 7px rgba(94,94,94,0.4);
  }
  h1 {
    text-align: center;
  }
  p {
    grid-column: 2;
  }
  form input {
    background: #fff;
    border: 1px solid #9c9c9c;
  }
  form button {
    background: rgb(146, 144, 144);
    padding: 0.7em;
    width: 100%;
    border: 0;
  }
  form button:hover {
    background: rgb(8, 195, 228);
    cursor: pointer;
    color: white;
  }
  
  
  label {
    padding: 0.5em 0.5em 0.5em 0;
  }
  
  input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  input:focus {
    outline: 3px solid black;
  }
  fieldset{
    grid-column: 2 / 2;
  }
  textarea {
    grid-column: 2 / 2;
    height: 100px;
  }
  
  @media (min-width: 400px) {
    form {
      grid-template-columns: 200px 1fr;
      grid-gap: 16px;
    }
  
    label {
      text-align: right;
      grid-column: 1 / 2;
    }
  
    select {    
      background: #ffff;
      border: 1px solid #9c9c9c;
      grid-column: 2/2;
    }
  
    input,
    button {
      grid-column: 2 / 3;
    }
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
      }
      
    .btn {
    border: 2px solid rgb(34, 33, 33);
    color: rgb(32, 31, 31);
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    }

    .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    }

  }
  fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  button {
    padding: 10px;
  }
  .small-button {
    padding: 5px 10px; /* Adjust the padding as needed */
  }


